body {
  background: rgb(42, 50, 158) !important;
  color: #fff ;
  font-family: monospace !important;
  font-size: 16px !important;
  height: 100vh !important;
  margin: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
  width: 100% !important;
}

.App {
  background: linear-gradient(to bottom, #297af9, #333fb7);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  #root {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
  }

  .App {
    border-radius: 10px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, .06);
    height: 667px;
    overflow: hidden;
    width: 375px;
  }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


